<maintoolbar></maintoolbar>

<ion-content>
  <div class="principale">
    <img src="../../assets/imagenes/chirel/chirel_1.jpg" style="padding: 5%;"/>
    <p>Visita'm</p>
    <p>Correu: <a href="mailto:agimenezing@gmail.com">agimenezing@gmail.com</a></p>
    <div>
      <ion-button color="warning" href="https://www.facebook.com/Visit-Antella-104117328971003/">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button color="warning" href="https://www.instagram.com/visitantella/?igshid=YmMyMTA2M2Y=">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button color="warning" href="https://t.me/visitantella">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-button>  
    </div>
  </div>
  <ion-card>
    <img src="../../assets/imagenes/hotel.png" />
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Contratación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Si quiere que su alojamiento o negocio aparezca en la app, póngase en contacto con nosotros en la dirección email 
      <a href="mailto:agimenezing@gmail.com" >agimenezing@gmail.com</a>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="bar-balanced">&copy;Visita'm</ion-footer>