<maintoolbar></maintoolbar>
<ion-content>
  <ion-card>
    <img src="../../assets/imagenes/promotion.png" />
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Contratación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Si quiere que sus promociones, ofertas, etc... Aparezcan en la app, póngase en contacto con nosotros en la dirección email 
      <a href="mailto:agimenezing@gmail.com" >agimenezing@gmail.com</a>
    </ion-card-content>
  </ion-card>

    
</ion-content>
<ion-footer class="bar-balanced">&copy;Visita'm</ion-footer>