<ion-content>
    <ion-card class="antella_card" (click)="go('/home',1);">
      <ion-card-content><h1>{{ 'ANTELLA' | translate }}</h1></ion-card-content> 
    </ion-card>
    <!-- ion-card class="allotjament_card" (click)="go('/reserve',2);" --> 
    <ion-card class="valle_ayora_card" (click)="go('/home',2);"> 
      <ion-card-content><h1>{{ 'VALLE_AYORA_COFRENTES' | translate }}</h1></ion-card-content>
    </ion-card>
    <!-- ion-card class="servicios_card" (click)="go('/restaurant',3);">
      <ion-card-content><h1>{{ 'SERVICIS' | translate }}</h1></ion-card-content>
    </ion-card>
    <ion-card class="idioma_card" (click)="go('/idioma',4);">
      <ion-card-content><h1>{{ 'IDIOMA' | translate }}</h1></ion-card-content>
    </ion-card-->  
</ion-content>

<ion-footer class="bar-balanced">&copy;Visita'm</ion-footer>

